<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Design 2"}); %>
  </head>

  <body class="design-2">
    <%- include('./common/_index', {video:
    "istockphoto-489848460-640_adpp_is.mp4"}); %>
  </body>
</html>
