<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Design 4"}); %>
  </head>

  <body class="design-4">
    <%- include('./common/_index', {video:
    "AdobeStock_356186270_Video_HD_Preview.mov"}); %>
  </body>
</html>
