<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Design 5-C"}); %>
  </head>

  <body class="design-5c">
    <%- include('./common/_index', {video: "3141208.mp4"}); %>
  </body>
</html>
