<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Design 3"}); %>
  </head>

  <body class="design-3">
    <%- include('./common/_index', {video:
    "istockphoto-473279561-640_adpp_is.mp4"}); %>
  </body>
</html>
