<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('./common/_head', {title: "Design 1"}); %>
  </head>

  <body>
    <div class="container pt-5">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>デザインパターン</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="design-1.html">ビデオ1</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a href="design-2.html">ビデオ2</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a href="design-3.html">ビデオ3</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a href="design-4.html">ビデオ4</a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>
              <a href="design-5.html">明るい色の動画</a>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
